{% extends 'musicApp/base.html' %}
{% load static %}
{% block content %}
<style>
    ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label {
  border: ;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

label:before {
  background-color: black;
  color: black;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 300px;
  width: 200px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: white;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}
</style>
<body>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

	<!----Loader Start---->
	<div class="ms_loader">
		<div class="wrap">
		  <img src="{% static 'images/loader.gif' %}" alt="">
		</div>
	</div>



    <!----Main Wrapper Start---->
    <div class="ms_main_wrapper">
        <!---Side Menu Start--->
        <div class="ms_sidemenu_wrapper">
            <div class="ms_nav_close">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
            <div class="ms_sidemenu_inner">
                <div class="ms_logo_inner">
                    <div class="ms_logo">
                        <a href="new_index"><img src="{% static 'images/logo.png' %}" alt="" class="img-fluid"></a>
                    </div>
                    <div class="ms_logo_open">
                        <a href="new_index"><img src="{% static 'images/open_logo.png' %}" alt="" class="img-fluid"></a>
                    </div>
                </div>
                <div class="ms_nav_wrapper mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" style="overflow: visible;"><div id="mCSB_1" class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                    <ul>
                        <li><a href="new_index">
						<span class="nav_icon">
							<span class="icon icon_discover"></span>
						</span>
						<span class="nav_text">Home</span>
						</a>
                        </li>

                        <li><a href="genre">
						<span class="nav_icon">
							<span class="icon icon_albums"></span>
						</span>
						<span class="nav_text">Genre</span>
						</a>
                        </li>

                        <li><a href="tag">
						<span class="nav_icon">
							<span class="icon icon_music"></span>
						</span>
						<span class="nav_text">Tag</span>
						</a>
                        </li>

                        <li><a href="playlist">
						<span class="nav_icon">
							<span class="icon icon_genres"></span>
						</span>
						<span class="nav_text">Playlist</span>
						</a>
                        </li>

                    <li><a href="filtering" class="active">
						<span class="nav_icon">
							<span class="icon icon_fe_playlist"></span>
						</span>
						<span class="nav_text">Filtering</span>
						</a>
                        </li></ul>

                    <ul class="nav_playlist">


                    <li><a href="mypage">
						<span class="nav_icon">
							<span class="icon icon_favourite"></span>
						</span>
						<span class="nav_text">My page</span>
						</a>
                        </li></ul>
                </div></div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; height: 0px; top: 0px; display: block; max-height: 613px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>
            </div>
        </div>
        <!---Main Content Start--->
        <div class="ms_content_wrapper padder_top80">
            <!---Header--->
            <div class="ms_header">

                <div class="ms_top_right">

                    <div class="ms_top_btn">
<!--                        <a href="javascript:;" class="ms_btn reg_btn" data-toggle="modal" data-target="#myModal"><span>Filter  <img src="{% static 'images/svg/search.svg' %}"  alt=""></span></a>-->
                        <a href=filtering class="ms_btn register_btn"><span>Filter</span></a>
                        <!--<a href="javascript:;" class="ms_btn login_btn" data-toggle="modal" data-target="#myModal1"><span>login</span></a>-->
                    </div>
                </div>
            </div>

            <div class="ms_top_artist" style="margin-bottom: 40px">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ms_heading">
                                <h1 style="font-size:40px">Playlists</h1>
                            </div>
                        </div>
                                                                               <script>
                                var fruits = ["apple","banana","orange","grape"];
                            </script>

                        <ul>

                            <script>
                                var count = 1;
                                for(var i=1;i<8;i++) {
                                        eval("p"+i+"=document.getElementById(\"past"+i+"\")"); //지난주 DIV
                                        eval("n"+i+"=document.getElementById(\"now"+i+"\")"); //이번주 DIV
                                }
                                while(count < fruits.length+1){
                                    document.write('<li><input type="checkbox" id="myCheckbox'["+count+"]'"/><label for="myCheckbox'["+count+"]'"><img src="http://townandcountryremovals.com/wp-content/uploads/2013/10/firefox-logo-200x200.png" /></label>'+ '여기저기거기 - 범키' + '</li>');
                                    count += 1
                                }
                            </script>

                          <li>
                            <input type="checkbox" id="myCheckbox1" />
                            <label for="myCheckbox1"><img src="http://townandcountryremovals.com/wp-content/uploads/2013/10/firefox-logo-200x200.png" /></label>
                              여기저기거기 - 범키
                          </li>
                          <li>

                            <input type="checkbox" id="myCheckbox2" />
                            <label for="myCheckbox2"><img src="http://tech21info.com/admin/wp-content/uploads/2013/03/chrome-logo-200x200.png" /></label>
                          </li>
                          <li>

                            <input type="checkbox" id="myCheckbox3" />
                            <label for="myCheckbox3"><img src="https://an2-img.amz.wtchn.net/image/v1/watcha/image/upload/c_fill,h_400,q_80,w_280/v1463577176/tfc4df-36149.jpg" /></label>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>


            <!----My Page Section Start---->
            <div class="ms_free_download">
                <div class="ms_heading">
                    <h1 style="font-size:40px">Recommend playlist</h1>
                </div>
                <div class="album_inner_list">
                   <div class="album_list_wrapper">
                      <ul class="album_list_name">
                         <li>#</li>
                         <li>Song Title</li>
                                <li></li>
                         <li>Singer</li>
                         <li class="text-center">Release Date</li>
                         <li class="text-center">Play</li>
                         <li class="text-center">share</li>

                      </ul>
                      <ul>
                         <li><a>01</a><span class="play_hover"></span></li>
                         <li><a>Bloodlust</a></li>
                         <li></li>
                         <li><a>Dream Your Moments</a></li>
                         <li class="text-center"><a>5:26</a></li>

                         <li class="text-center"><a class="bla-2" href="https://www.youtube.com/watch?v=mAMCKAq8Z98"><img src="{% static 'images/svg/play.svg' %}" width="20" /></a></li>
                         <li class="text-center"><a class="kakao-link-btn"href="javascript:sendLink()"><img src="{% static 'images/svg/share.svg' %}" width="20" alt=""></a></li>
                      </ul>
                      <ul>
                         <li><a>02</a></li>
                         <li><a>Desired Games</a></li>
                         <li></li>
                         <li><a>Dream Your Moments</a></li>
                         <li class="text-center"><a>5:26</a></li>
                         <li class="text-center"><a class="bla-2" href="https://www.youtube.com/watch?v=mAMCKAq8Z98"><img src="{% static 'images/svg/play.svg' %}" width="20" /></a></li>
                         <li class="text-center"><a class="kakao-link-btn"href="javascript:sendLink()"><img src="{% static 'images/svg/share.svg' %}" width="20" alt=""></a></li>
                      </ul>
                      <ul>
                         <li><a>03</a></li>
                         <li><a>Until I Met You</a></li>
                         <li></li>
                         <li><a>Dream Your Moments</a></li>
                         <li class="text-center"><a>5:26</a></li>
                         <li class="text-center"><a class="bla-2" href="https://www.youtube.com/watch?v=mAMCKAq8Z98"><img src="{% static 'images/svg/play.svg' %}" width="20" /></a></li>
                         <li class="text-center"><a class="kakao-link-btn"href="javascript:sendLink()"><img src="{% static 'images/svg/share.svg' %}" width="20" alt=""></a></li>
                      </ul>
                      <ul>
                         <li><a>04</a></li>
                         <li><a>Dark Alley Acoustic</a></li>
                         <li></li>
                         <li><a>Dream Your Moments</a></li>
                         <li class="text-center"><a>5:26</a></li>
                         <li class="text-center"><a class="bla-2" href="https://www.youtube.com/watch?v=mAMCKAq8Z98"><img src="{% static 'images/svg/play.svg' %}" width="20" /></a></li>
                         <li class="text-center"><a class="kakao-link-btn"href="javascript:sendLink()"><img src="{% static 'images/svg/share.svg' %}" width="20" alt=""></a></li>
                      </ul>
                      <ul>
                         <li><a>05</a></li>
                         <li><a>Cloud nine</a></li>
                         <li></li>
                         <li><a>Dream Your Moments</a></li>
                         <li class="text-center"><a>5:26</a></li>
                         <li class="text-center"><a class="bla-2" href="https://www.youtube.com/watch?v=mAMCKAq8Z98"><img src="{% static 'images/svg/play.svg' %}" width="20" /></a></li>
                         <li class="text-center"><a class="kakao-link-btn"href="javascript:sendLink()"><img src="{% static 'images/svg/share.svg' %}" width="20" alt=""></a></li>
                      </ul>
                      <ul>
                         <li><a>06</a></li>
                         <li><a>Walking Promises</a></li>
                         <li></li>
                         <li><a>Dream Your Moments</a></li>
                         <li class="text-center"><a>5:26</a></li>
                         <li class="text-center"><a class="bla-2" href="https://www.youtube.com/watch?v=mAMCKAq8Z98"><img src="{% static 'images/svg/play.svg' %}" width="20" /></a></li>
                         <li class="text-center"><a class="kakao-link-btn"href="javascript:sendLink()"><img src="{% static 'images/svg/share.svg' %}" width="20" alt=""></a></li>
                      </ul>
                      <ul>
                         <li><a>07</a></li>
                         <li><a>Endless Things</a></li>
                         <li></li>
                         <li><a>Dream Your Moments</a></li>
                         <li class="text-center"><a>5:26</a></li>
                         <li class="text-center"><a class="bla-2" href="https://www.youtube.com/watch?v=mAMCKAq8Z98"><img src="{% static 'images/svg/play.svg' %}" width="20" /></a></li>
                         <li class="text-center"><a class="kakao-link-btn"href="javascript:sendLink()"><img src="{% static 'images/svg/share.svg' %}" width="20" alt=""></a></li>
                      </ul>
                      <ul>
                         <li><a>08</a></li>
                         <li><a>Gimme Some Courage</a></li>
                         <li></li>
                         <li><a>Dream Your Moments</a></li>
                         <li class="text-center"><a>5:26</a></li>
                         <li class="text-center"><a class="bla-2" href="https://www.youtube.com/watch?v=mAMCKAq8Z98"><img src="{% static 'images/svg/play.svg' %}" width="20" /></a></li>
                         <li class="text-center"><a class="kakao-link-btn"href="javascript:sendLink()"><img src="{% static 'images/svg/share.svg' %}" width="20" alt=""></a></li>
                      </ul>
                      <ul>
                         <li><a>09</a></li>
                         <li><a>One More Stranger</a></li>
                         <li></li>
                         <li><a>Dream Your Moments</a></li>
                         <li class="text-center"><a>5:26</a></li>
                         <li class="text-center"><a class="bla-2" href="https://www.youtube.com/watch?v=mAMCKAq8Z98"><img src="{% static 'images/svg/play.svg' %}" width="20" /></a></li>
                         <li class="text-center"><a class="kakao-link-btn"href="javascript:sendLink()"><img src="{% static 'images/svg/share.svg' %}" width="20" alt=""></a></li>
                      </ul>
                      <ul>
                         <li><a>10</a></li>
                         <li><a>Cloud nine</a></li>
                         <li></li>
                         <li><a>Dream Your Moments</a></li>
                         <li class="text-center"><a>5:26</a></li>
                         <li class="text-center"><a class="bla-2" href="https://www.youtube.com/watch?v=mAMCKAq8Z98"><img src="{% static 'images/svg/play.svg' %}" width="20" /></a></li>
                         <li class="text-center"><a class="kakao-link-btn"href="javascript:sendLink()"><img src="{% static 'images/svg/share.svg' %}" width="20" alt=""></a></li>
                      </ul>
                   </div>
                </div>
            </div>
            <div class="ms_top_right">
                    <div class="ms_top_btn">
<!--                        <a href="javascript:;" class="ms_btn reg_btn" data-toggle="modal" data-target="#myModal"><span>Filter  <img src="{% static 'images/svg/search.svg' %}"  alt=""></span></a>-->
                        <a id="kakao-link-btn" class="ms_btn register_btn" href="javascript:sendTextLink()"><span>All Share</span></a>
                        <a class="ms_btn login_btn" href="javascript:sendTextLink()"><span>add playlist</span></a>
                    </div>
                </div>
        </div>
        <!----Footer Start---->
        <div class="ms_footer_wrapper">
            <div class="ms_footer_logo">
                <a><img src="{% static 'images/open_logo.png' %}" alt=""></a>
            </div>
        </div>
    </div>


    <!----Register Modal Start---->
    <!-- Modal -->
    <div class="ms_register_popup">

        <!----Login Popup Start---->
        <div id="myModal1" class="modal centered-modal" role="dialog" style="display: none;" aria-hidden="true">
            <div class="modal-dialog login_dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal">
						<i class="fa_icon form_close"></i>
					</button>
                    <div class="modal-body">
                        <div class="ms_register_img">
                            <img src="/static/images/register_img.png" alt="" class="img-fluid">
                        </div>
                        <div class="ms_register_form">
                            <h2 style="font-size:36px; text-align:center;">login / Sign in</h2>

                            <div class="form-group">
                                <input type="button" value="Login with Kakao" style="font-weight:bold;" class="form-control">

                            </div>
                            <a class="ms_btn" data-dismiss="modal" style="color:#fff; font-weight:bold;">close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--scroll function-->

    <script>
    var mybutton = document.getElementById("myBtn");
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
            } else {
            mybutton.style.display = "none";
            }
        }

    function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;}
    </script>
{% endblock %}
